{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/hestimlogo.jpeg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.jpeg' %}" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
  <!-- Google Fonts -->
  <link href=" https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class=" bg-dark">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!--<h1 class="logo me-auto me-lg-0"><a href="index.html" style="color: blue;" >HESTIM<span>.</span></a></h1>-->
       <a href="index.html"  style="width: 100px;"><img style="border-radius: 50%;" src="{% static 'assets/img/hestimlogo.jpeg' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Partenaires</a></li>
          <li><a class="nav-link scrollto" href="#services">services</a></li>
          <li><a class="nav-link scrollto" href="#performances">Performances</a></li>
          <li><a class="nav-link scrollto" href="#temoignages">Temoignages</a></li>
          <!--<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
          <li><a class="nav-link scrollto" href="#team">Activites</a></li>
          <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div >

            <a href="register" class="get-started-btn scrollto">Candidatez</a>
            <a href="login" class="get-started-btn scrollto">Connexion</a>

      </div>
      

    </div>
  </header><!-- End Header -->


    <!-- Jumbotron -->
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Filière Informatique</h1>
                <p>Développez vos compétences en informatique avec notre programme complet.
                    
                    <h2>Cycle Ingénieur Informatique et Intelligence Artificielle</h2>
                    Le cycle Ingénierie Informatique et Intelligence Artificielle a pour objectif de doter les élèves-ingénieurs de solides compétences scientifiques et techniques
                    alliant Mathématiques/Statistiques, Informatique et Intelligence Artificielle. Nos ingénieurs de demain possèdent des connaissances techniques et managériales
                    avancées qui leur permettent d’acquérir une perspective globale, de la gouvernance des données massives créateur de valeur pour l’écosystème à la mise en œuvre de solutions dérivées de l’IA pour appréhender correctement et efficacement leur volume, leur hétérogénéité et leur complexité. Finalement, les étudiants ont la possibilité d’obtenir une double-diplomation avec des établissements de renommée internationale pour obtenir à la fois un diplôme d’ingénieur d’Etat et un diplôme d’ingénieur Français reconnu par la CTI.
                    
                    <h2>compétences de l’Ingénieur en IIIA</h2>
                    L’Ingénieur Informatique et Intelligence Artificielle  dispose de Compétences en gestion de l’entreprise selon une approche informatique de plusieurs autres compétences dont la maîtrise des méthodes, des technologies et des frameworks de développement, l’analyse, conception, la réalisation et la gestion des Systèmes d’Information (SI), la mise en œuvre des outils d’aide à la décision informatisés, l’élaboration des indicateurs métiers pour les systèmes d’aide à la prise de décision, la maîtrise des technologies permettant le traitement, la simulation et l’extraction de connaissances à partir de données, la maîtrise des technologies d’implémentation, de gestion et de l’exploitation des applications de l’intelligence artificielle, la mise en œuvre, gestion et exploitation des environnements Big Data, et finalement, le développement d’une vision conceptuelle dans un environnement pluridisciplinaire tant au niveau stratégique qu’opérationnel.
                    
                    <h2>Perspectives d’avenir</h2>
                    Les profils d’ingénierie visés par cette formation sont :
                    <ul style="list-style-type:none;">

                        <li>Chef de projet informatique</li>  
                        <li>Développeur Full Stack</li>
                        <li>Data Analyst</li>
                        <li>Data Scientists</li>
                        <li>Ingénieur DevOps</li>
                        <li>Ingénieur en Intelligence Artificielle</li>
                        <li>Développeur mobile</li>
                        <li>Architect Solutions Cloud</li>
                        <li>Ingénieur en Business Intelligence</li>
                        <li>Ingénieur Big Data</li>

                    </ul>
                    



                </p>
            </div>
        </div>

        <!-- Programme -->
        <div class="programme">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'assets/img/inf.jpg' %}" class="img-fluid mb-4 " alt="Programme informatique">
                    </div>
                    <div class="col-md-6">
                        <h2>Programme de la filière informatique</h2>
                        <ul>

                            <li>Anglais</li> 
                            <li>Techniques d’Expression et de Communication (TEC)</li> 
                            <li> Soft Skills.5 : Souplesse cognitive et créativité</li> 
                            <li> Entrepreneuriat</li> 
                            <li> Management industriel</li> 
                            <li> Projet d’innovation</li> 
                            <li> Probabilité et statistiques</li> 
                            <li> Programmation linéaire et recherche opérationnelle</li> 
                            <li> Algorithmique et Programmation avancée C</li> 
                            <li> Ingénierie des systèmes d’information (UML & BD)</li> 
                            <li> Programmation Réseaux</li> 
                            <li> Langages d’interrogation des BD (ORACLE)</li> 
                            <li> Développement WEB</li> 


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Admission -->
        <div class="admission">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Conditions d'admission</h2>


                        <h3>1ère année :</h3>

                        <ul>
                            <li>Titulaires du baccalauréat scientifique ou technique, sur étude de dossier</li>
                        </ul>
                        <h3>2ème année :</h3>
                        
                        <ul>
                            <li>BAC+1 scientifique ou technique  qui y accèdent, sur étude de dossier</li>
                        </ul>
                        <h3>3ème année :</h3>   
                        
                        <ul>
                            <li>Titulaires d’un Bac+2, DUT, DEUG, BTS Scientifique ou diplôme équivalent</li>
                        </ul> 
                        <h3>4ème année :</h3> 
                        
                        <ul>
                            <li>Titulaires d’un Bac+3, Licence ou équivalent, Scientifique ou diplôme équivalent après étude de dossier par la commission</li>
                        </ul> 
                        <h2>Pièces requises :</h2> 
                        <h3>1ère année :</h3> 
                        
                        <ul>
                            
                            <li>Copie du Baccalauréat ou Attestation de réussite</li> 
                            <li>Relevé de notes</li> 
                            <li>Copie carte CIN (pour étudiants marocains)</li> 
                            <li>Copie passeport (pour étudiants étrangers)</li> 
                            <li>2 Photos</li> 
                            <li>Lettre de motivation</li> 
                        </ul>
                        
                        <h3>2ème année :</h3> 
                        <ul>

                            <li>Relevé de notes 1ère année</li> 
                            <li>Attestation de réussite 1ère année</li> 
                            <li>Copie carte CIN (pour étudiants marocains)</li> 
                            <li>Copie passeport (pour étudiants étrangers)</li> 
                            <li>2 Photos</li> 
                            <li>Lettre de motivation</li> 

                        </ul>
                        
                        <h3>3ème année :</h3> 
                        <ul>

                          <li>Relevé de notes 1ère année et 2 ème année</li> 
                          <li>Attestation de réussite 1ère année et 2 ème année</li> 
                          <li>Copie carte CIN (pour étudiants marocains)</li> 
                          <li>Copie passeport (pour étudiants étrangers)</li> 
                          <li>2 Photos</li> 
                          <li>Lettre de motivation</li> 

                        </ul>
                        
                        <h3>4ème année :</h3> 
                        <ul>

                          <li>Relevé de notes 1ère année, 2 ème année et 3 ème année</li> 
                          <li>Attestation de réussite 1ère année, 2 ème année et 3 ème année</li> 
                          <li>Copie carte CIN (pour étudiants marocains)</li> 
                          <li>Copie passeport (pour étudiants étrangers)</li> 
                          <li>2 Photos</li> 
                          <li>Lettre de motivation</li> 

                        </ul>
                        


                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'assets/img/inf2.jpg' %}" class="img-fluid mb-4" alt="Admission informatique">
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarifs -->
        <div class="tarifs">
            <div class="container">
                <h2>Tarifs de la filière informatique</h2>
                <h3>Classe prepa</h3>
                  <ul>

                    <li>Relevé de notes 1ère année, 2 ème année et 3 ème année</li> 
                    <li>Attestation de réussite 1ère année, 2 ème année et 3 ème année</li> 
                    <li>Copie carte CIN (pour étudiants marocains)</li> 
                    <li>Copie passeport (pour étudiants étrangers)</li> 
                    <li>2 Photos</li> 
                    <li>Lettre de motivation</li> 

                  </ul>
                <h3>Cycle ingenieur</h3>
                <ul>

                  <li>Total Annuel à payer : 45000 Dhs</li> 
                  <li>Frais d’inscription Annuel  : 4000 Dhs</li> 
                  <li>Frais de scolarité Annuel  : 41000 Dhs</li> 
                  <li>Frais de scolarité 1er trimestre : 14000 Dhs</li> 
                  <li>Frais de scolarité 2ème trimestre : 14000 Dhs</li> 
                  <li>Frais de scolarité 3ème trimestre : 13000 Dhs</li> 

                </ul>
            </div>
        </div>




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Hestim<span>.</span></h3>
              <p>
                Boulvard Ghandi <br>
                Casablanca 535022, Morroco<br><br>
                <strong>Phone:</strong> +212 06 07 28 14 15<br>
                <strong>Email:</strong> Hestim@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>@2023</span></strong>. All Rights Reserved By HESTIM
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Etudiant 3emme annee</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template{% static ' Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>