{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hestim</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/hestimlogo.jpeg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.jpeg' %}" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
  <!-- Google Fonts -->
  <link href=" https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class=" bg-dark">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!--<h1 class="logo me-auto me-lg-0"><a href="index.html" style="color: blue;" >HESTIM<span>.</span></a></h1>-->
       <a href="index.html"  style="width: 100px;"><img style="border-radius: 50%;" src="{% static 'assets/img/hestimlogo.jpeg' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Partenaires</a></li>
          <li><a class="nav-link scrollto" href="#services">services</a></li>
          <li><a class="nav-link scrollto" href="#performances">Performances</a></li>
          <li><a class="nav-link scrollto" href="#temoignages">Temoignages</a></li>
          <!--<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
          <li><a class="nav-link scrollto" href="#team">Activites</a></li>
          <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div >

            <a href="register" class="get-started-btn scrollto">Candidatez</a>
            <a href="login" class="get-started-btn scrollto">Connexion</a>

      </div>
      

    </div>
  </header><!-- End Header -->


    <!-- Jumbotron -->
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Licence Management des Entreprises et des Organisations</h1>
                <p>Développez vos compétences Management des Entreprises et des Organisations avec notre programme complet.
                    
                    <h2>Licence en Management des Entreprises et des Organisations</h2>
                    <p> 
                        L’objectif de cette licence management et gestion des organisations est de former des personnels d’encadrement dans le domaine de la gestion de manière pluridisciplinaire notamment la création d’entreprise, la gestion des ressources humaines, la gestion comptable et financière et la gestion commerciale et stratégique. La licence management accorde une large place à l’accompagnement des projets personnels et la mise en pratique des connaissances acquises lors du cursus. Cette formation favorise l’acquisition des compétences transversales, spécifiques et complémentaires dans les domaines entrepreneurial, gestionnaire, managérial et intrapreneurial.
                    </p> 
                    <h2>compétences Techniques</h2>

                        <p>
                            
                            La licence management et gestion des organisations de HESTIM se déploie autour de trois axes : 

                            Les compétences techniques de base : élaboration des budgets et leur contrôle, la gestion administrative et comptable du personnel, la mise en place des tableaux de bord etc. 
                            
                            Les compétences de licence management  dans la conduite des PME/PMI : la maîtrise des outils de gestion des projets, l’analyse et la conduite des systèmes complexes, l’anticipation sur l’évolution des environnements etc. Les compétences entrepreneuriales et intrapreneuriales : Élaboration et conduite d’un Business Plan de création/reprise d’entreprise, de projet d’innovation et de développement socio-économique, etc.

                        </p> 

                    <h2>Perspectives d’avenir</h2>
                    Les titulaires d’une licence management des organisations s’insèrent facilement dans les services d’administration générale, le management de proximité, l’appui opérationnel au développement commercial des entreprises, des collectivités locales et des associations. Ainsi, la licence Management et Gestion des Organisations propose de nombreux débouchés après la validation du diplôme :
                    <ul style="list-style-type:none;">

                        <li>Chef de projet</li> 
                        <li>Consultant RH</li> 
                        <li>Chargé de marketing</li> 
                        <li>Contrôleur de gestion,</li> 
                        <li>Adjoint de direction opérationnelle,</li> 
                        <li>Assistant chef de projet</li> 
                        <li>Gestionnaire de centre de profit</li> 
                        <li>Adjoint du directeur financier </li> 

                    </ul>
                    



                </p>
            </div>
        </div>

        <!-- Programme -->
        <div class="programme">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'assets/img/manag.jpeg' %}" class="img-fluid mb-4 " alt="Programme informatique">
                    </div>
                    <div class="col-md-6">
                        <h2>Programme de la filière Genie civil</h2>
                        <ul>

                            <li>Chef de projet</li> 
                            <li>Consultant RH</li> 
                            <li>Chargé de marketing</li> 
                            <li>Contrôleur de gestion,</li> 
                            <li>Adjoint de direction opérationnelle,</li> 
                            <li>Assistant chef de projet</li> 
                            <li>Gestionnaire de centre de profit</li> 
                            <li>Adjoint du directeur financier </li> 
                            <li>Chef de projet</li> 
                            <li>Consultant RH</li> 
                            <li>Chargé de marketing</li> 
                            <li>Contrôleur de gestion,</li> 
                            <li>Adjoint de direction opérationnelle,</li> 
                            <li>Assistant chef de projet</li> 
                            <li>Gestionnaire de centre de profit</li> 
                            <li>Adjoint du directeur financier </li> 


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Admission -->
        <div class="admission">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Conditions d'admission</h2>


                        <h3>1ère année :</h3>

                        <ul>
                            <li>Titulaires du baccalauréat scientifique ou technique, sur étude de dossier</li>
                        </ul>
                        <h3>2ème année :</h3>
                        
                        <ul>
                            <li>BAC+1 scientifique ou technique  qui y accèdent, sur étude de dossier</li>
                        </ul>
                        <h3>3ème année :</h3>   
                        
                        <ul>
                            <li>Titulaires d’un Bac+2, DUT, DEUG, BTS Scientifique ou diplôme équivalent</li>
                        </ul> 
                        <h3>4ème année :</h3> 
                        
                        <ul>
                            <li>Titulaires d’un Bac+3, Licence ou équivalent, Scientifique ou diplôme équivalent après étude de dossier par la commission</li>
                        </ul> 
                        <h2>Pièces requises :</h2> 
                        <h3>1ère année :</h3> 
                        
                        <ul>
                            
                            <li>Copie du Baccalauréat ou Attestation de réussite</li> 
                            <li>Relevé de notes</li> 
                            <li>Copie carte CIN (pour étudiants marocains)</li> 
                            <li>Copie passeport (pour étudiants étrangers)</li> 
                            <li>2 Photos</li> 
                            <li>Lettre de motivation</li> 
                        </ul>
                        
                        <h3>2ème année :</h3> 
                        <ul>

                            <li>Relevé de notes 1ère année</li> 
                            <li>Attestation de réussite 1ère année</li> 
                            <li>Copie carte CIN (pour étudiants marocains)</li> 
                            <li>Copie passeport (pour étudiants étrangers)</li> 
                            <li>2 Photos</li> 
                            <li>Lettre de motivation</li> 

                        </ul>
                        
                        <h3>3ème année :</h3> 
                        <ul>

                          <li>Relevé de notes 1ère année et 2 ème année</li> 
                          <li>Attestation de réussite 1ère année et 2 ème année</li> 
                          <li>Copie carte CIN (pour étudiants marocains)</li> 
                          <li>Copie passeport (pour étudiants étrangers)</li> 
                          <li>2 Photos</li> 
                          <li>Lettre de motivation</li> 

                        </ul>
                        
                        <h3>4ème année :</h3> 
                        <ul>

                          <li>Relevé de notes 1ère année, 2 ème année et 3 ème année</li> 
                          <li>Attestation de réussite 1ère année, 2 ème année et 3 ème année</li> 
                          <li>Copie carte CIN (pour étudiants marocains)</li> 
                          <li>Copie passeport (pour étudiants étrangers)</li> 
                          <li>2 Photos</li> 
                          <li>Lettre de motivation</li> 

                        </ul>
                        


                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'assets/img/manag2.jpeg' %}" class="img-fluid mb-4" alt="Admission informatique">
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarifs -->
        <div class="tarifs">
            <div class="container">
                <h2>Tarifs de la filière informatique</h2>
                <h3>Classe prepa</h3>
                  <ul>

                    <li>Relevé de notes 1ère année, 2 ème année et 3 ème année</li> 
                    <li>Attestation de réussite 1ère année, 2 ème année et 3 ème année</li> 
                    <li>Copie carte CIN (pour étudiants marocains)</li> 
                    <li>Copie passeport (pour étudiants étrangers)</li> 
                    <li>2 Photos</li> 
                    <li>Lettre de motivation</li> 

                  </ul>
                <h3>Cycle ingenieur</h3>
                <ul>

                  <li>Total Annuel à payer : 45000 Dhs</li> 
                  <li>Frais d’inscription Annuel  : 4000 Dhs</li> 
                  <li>Frais de scolarité Annuel  : 41000 Dhs</li> 
                  <li>Frais de scolarité 1er trimestre : 14000 Dhs</li> 
                  <li>Frais de scolarité 2ème trimestre : 14000 Dhs</li> 
                  <li>Frais de scolarité 3ème trimestre : 13000 Dhs</li> 

                </ul>
            </div>
        </div>




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Hestim<span>.</span></h3>
              <p>
                Boulvard Ghandi <br>
                Casablanca 535022, Morroco<br><br>
                <strong>Phone:</strong> +212 06 07 28 14 15<br>
                <strong>Email:</strong> Hestim@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>@2023</span></strong>. All Rights Reserved By HESTIM
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Etudiant 3emme annee</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template{% static ' Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>